<section class="thanks">
  <div class="block-heading">
    <h2>Thanks <%= @order.name %>!</h2>
  </div>
  <div class="row">
    <div class="col-md-12 thanks">
      <p>Your payment to PCDC for $<%= @order.total %> has been successfully processed.</p>
      <hr>
      <p><strong>Megaband admissions:</strong></p>
      <p><%= @order.admission_quantity %> x $<%= @order.admission_cost %> = $<%= @order.admission_quantity * @order.admission_cost %></p>
      <p><strong>You will not receive a physical ticket; your name will be on a list at the door.</strong></p>
      <hr>
      <p>
        Saturday, March 11, 2020<br>
        6:45 lesson | 7:15-10:30 dance<br>
        Oaks Park...<br>
        ADDRESS HERE
      </p>
      <p>PARKING INFO</p>
      <p>
        A receipt has been sent to <%= @order.email %>.<br>
        Please email <a href="mailto:contra@portlandcountrydance.org">contra@portlandcountrydance.org</a> if you have any questions.
      </p>
    </div>
  </div>
</section>
