<section class="payment-form dark">
  <div class="block-heading">
    <h2><%= Rails.configuration.order[:order_form_title] %></h2>
    <p><%= Rails.configuration.order[:order_form_description] %></p>
    <br>
    <p>Your name will be on a list at the door.</p>
    <p>(You will not receive actual tickets.)</p>
    <br>
    <p>
      Saturday, March 9, 2019<br>
      7:30 lesson | 8-11:15 dance<br>
      PSU Smith Memorial Center Ballroom, 3rd Floor<br>
      1825 SW Broadway, Portland, Oregon
    </p>
    <br>
    <p>Questions? Email <a href="mailto:contra@portlandcountrydance.org">contra@portlandcountrydance.org</a>.</p>
  </div>
  <%= form_for @order do |f| %>
    <%= render '/layouts/errors', object: @order %>
    <%= f.hidden_field :stripe_token %>
    <%= f.hidden_field :total, id: 'total-as-displayed' %>
    <%= f.hidden_field :idempotency_key, value: @idempotency_key %>

    <div class="details">
      <h3 class="title">Name and contact info:</h3>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :phone %>
          <%= f.telephone_field :phone, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="products">
      <h3 class="title"><%= Rails.configuration.order[:tshirts_available] ? 'Select admissions and/or t-shirts:' : 'Select admissions:' %></h3>
      <div class="item">
        <p class="item-name"><%= Rails.configuration.order[:short_name] %> Admissions</p>
        <% if Rails.configuration.order[:admission_cost] == 0 %>
          <div class="form-group" id="admission-cost-group">
            <%= f.label :admission_cost, 'How much are you able to pay per admission? ($10-25)', class: 'item-description' %>
            <span class="quantity">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                <%= f.number_field :admission_cost, id: 'admission-cost', min: 10, max: 25, step: 1, value: @admission_cost %>
              </div>
            </span>
          </div>
        <% end %>
        <div class="form-group" id="admission-quantity-group">
          <%= f.label :admission_quantity, 'Select admissions quantity', class: 'item-description' %>
          <span class="quantity"><%= f.number_field :admission_quantity, id: 'admission-quantity', min: 0, step: 1, value: @admission_quantity %></span>
        </div>
      </div>
      <% if Rails.configuration.order[:tshirts_available] %>
        <hr>
        <div class="item">
          <p class="item-name">T-shirts</p>
          <div class="form-group">
            <p class="small"><a href="/tshirts" target=_blank>Click here for t-shirt style & size guide</a> (opens in new tab)</p>
            <%= f.label :tshirt_quantity, 'Select total number of t-shirts ($20 each)', class: 'item-description' %>
            <span class="quantity"><%= f.number_field :tshirt_quantity, id: 'tshirt-quantity', min: 0, step: 1, value: @tshirt_quantity %></span>
          </div>
          <div class="form-group d-none" id="tshirt-note">
            <%= f.label :tshirt_note, 'Specify color and style for each shirt', class: 'item-description' %>
            <%= f.text_area :tshirt_note, maxlength: 255, rows: 3 %>
          </div>
        </div>
      <% end %>
      <div class="total">
        <p>Total $<span id="total-price"></span></p>
        <p class="small" id="total-admissions"></p>
        <p class="small" id="total-tshirts"></p>
      </div>
    </div>

    <div class="details">
      <h3 class="title">Payment info:</h3>
      <p class="small">Card details are securely transmitted directly to Stripe, an industry-standard payment processor. We do not see or store your card details.</p>
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element" class="form-control">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
      </div>
      <%= f.submit 'Submit Payment', class: "btn btn-success btn-block", id: "payment-button" %>
    </div>

  <% end %>
</section>
