<section class="payment-form dark">
  <div class="block-heading">
    <h2>Portland Megaband 2023</h2>
  </div>
  <%= form_for @order do |f| %>
    <%= render '/layouts/errors', object: @order %>
    <%= f.hidden_field :stripe_token %>
    <%= f.hidden_field :idempotency_key, value: @idempotency_key %>
    <%= f.hidden_field :total, id: 'total-as-displayed' %>

    <div class="details" id="info">
      <p>The dance will take place on Saturday, March 11 at 7:30 pm (doors at 7). It will take place at the Oaks Park Dance Pavilion, 7805 SE Oaks Park Way in Portland. Parking is free. Cost is a sliding scale from $15-30 per person.</p>
      <p><strong>Covid policy:</strong> Everyone must be vaccinated, including at least one booster if eligible. A well-fitted mask covering nose and mouth is required for attendees. PCDC's full Covid policy is available <a href="https://pcdc.fun/covid19" target=_blank>here</a>.</p>
    </div>

    <div class="details">
      <h3 class="title">Name and contact info:</h3>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :phone %>
          <%= f.telephone_field :phone, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="products">
      <h3 class="title">Select admissions:</h3>
      <div class="item">
        <p class="item-name"><%= Rails.configuration.order[:short_name] %> Admissions</p>
          <div class='admissions-container'>
            <div><%= f.label :admission_cost, "How much are you able to pay per admission? ($#{Rails.configuration.order[:sliding_scale_min]}-#{Rails.configuration.order[:sliding_scale_max]})" %></div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <%= f.number_field :admission_cost, id: 'admission-cost', min: Rails.configuration.order[:sliding_scale_min], max: Rails.configuration.order[:sliding_scale_max], step: 1, value: @admission_cost %>
            </div>
            <div><%= f.label :admission_quantity, 'Select admissions quantity' %></div>
            <div><%= f.number_field :admission_quantity, id: 'admission-quantity', min: 0, step: 1, value: @admission_quantity %></div>
          </div>
      </div>

      <div id="note">
        <div class="row">
          <div class="form-group col-sm-8">
            <%= f.label :note, 'Please list names of additional attendee(s)' %>
            <%= f.text_area :note, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="total">
        <p>Total $<span id="total-price"></span></p>
        <p class="small" id="total-admissions"></p>
      </div>
    </div>

    <div class="details">
      <h3 class="title">Payment info:</h3>
      <p class="small">Card details are securely transmitted directly to Stripe, an industry-standard payment processor. We do not see or store your card details.</p>
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element" class="form-control">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
      </div>
      <%= f.submit 'Submit Payment', class: "btn btn-success btn-block", id: "payment-button" %>
    </div>

  <% end %>
</section>
