<section class="payment-form dark">
  <div class="block-heading">
    <h2>megaband admissions & t-shirts</h2>
    <p>This is a benefit dance with the goal of raising money for the community grants fund. Please pay as much as you can, between $10 and $25 per admission.</p>
  </div>
  <%= form_for @order do |f| %>
    <%= render '/layouts/errors', object: @order %>
    <%= f.hidden_field :stripe_token %>
    <%= f.hidden_field :total, id: 'total-as-displayed' %>
    <%= f.hidden_field :idempotency_key, value: @idempotency_key %>

    <div class="details">
      <h3 class="title">Name and contact info:</h3>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :phone %>
          <%= f.telephone_field :phone, required: true, maxlength: 50, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="products">
      <h3 class="title">Select admissions and/or t-shirts:</h3>
      <div class="item">
        <p class="item-name">Megaband Admissions</p>
        <div class="form-group">
          <%= f.label :admission_cost, 'How much are you paying per admission? ($10-25)', class: 'item-description' %>
          <span class="quantity">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <%= f.number_field :admission_cost, id: 'admission-cost', min: 10, max: 25, step: 1, value: @admission_cost %></span>
            </div>
          </span>
        </div>
        <div class="form-group">
          <%= f.label :admission_quantity, 'Select admissions quantity', class: 'item-description' %>
          <span class="quantity"><%= f.number_field :admission_quantity, id: 'admission-quantity', min: 0, step: 1, value: @admission_quantity %></span>
        </div>
      </div>
      <hr>
      <div class="item">
        <p class="item-name">T-shirts</p>
        <div class="form-group">
          <%= f.label :tshirt_quantity, 'Select total number of t-shirts ($15 each)', class: 'item-description' %>
          <span class="quantity"><%= f.number_field :tshirt_quantity, id: 'tshirt-quantity', min: 0, step: 1, value: @tshirt_quantity %></span>
        </div>
        <div class="form-group">
          <%= f.label :tshirt_note, 'Specify color and style for each shirt', class: 'item-description' %>
          <%= f.text_area :tshirt_note, maxlength: 255, rows: 3 %>
        </div>
      </div>
      <div class="total">
        <p>Total $<span id="total-price"></span></p>
        <p class="small" id="total-admissions"></p>
        <p class="small" id="total-tshirts"></p>
      </div>
    </div>

    <div class="details">
      <h3 class="title">Payment info:</h3>
      <p class="small">Card details are securely transmitted directly to Stripe, an industry-standard payment processor. We do not see or store your card details.</p>
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element" class="form-control">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <%= f.submit 'Submit Payment', class: "btn btn-success btn-block", id: "payment-button" %>
    </div>

  <% end %>

</section>
