<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.order[:browser_title] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.stripe.com/v3/"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= flash_notice(flash) do %>
      <%= sanitize(flash[:notice]) %>
      <%= sanitize(flash[:alert]) %>
    <% end %>
    <%= yield %>
  </body>
</html>
